* {
    position: relative;
    box-sizing: border-box;
}

#form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: beige;
    border-radius: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}

#task-create h3 {
    display: flex;
    justify-content: center;
}

#submit {
    margin-top: 20px;
    width: 100px;
}

form input, 
#textarea {
    width: 70vw;
    border-radius: 10px;
}

#submit {
    background-color: #f4511e;
    color: white;
    border: none;
    border-radius: 15px;
    width: 90px;
    cursor: pointer;
    padding-left: 17px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: padding-right 0.3s ease-in-out;
}

#submit span {
    transition: transform 0.3s ease;
}

#submit:hover span {
    transform: translateX(-10px);
}

#submit img {
    opacity: 0;
    width: 15px;
    height: 15px;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

#submit:hover img {
    opacity: 1;
    transform: rotate(90deg); 
}

#submit img {
    filter: invert(100%);
}

#task-create-body {
    width: 100vw;
    padding: 20px;
    display: flex;
    justify-content: center;
    margin: auto;
}

#task-create {
    width: 100%;
}



#textarea {
    height: 50px; 
    line-height: 1;
    padding-bottom: 50px;
    resize: none; 
    overflow-y: auto;
    word-wrap: break-word; 
    white-space: pre-wrap; 
}

#color,
#text_color {
    width: 50px;
}

@media(min-width: 601px) {
    form input,
    #textarea {
        width: 50vw;
    }

    #task-create-body {
        width: 60vw;
    }

    #textarea {
        height: 100px;
    }

   
}