* {
    box-sizing: border-box;
}

ul li {
    list-style: none;
}

body {
    background-color: aliceblue;
}

ul {
    padding: 0;
}

#task-list {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.task {
    position: relative;
    opacity: 0; 
    transform: translateY(100px);
    animation: fadeInUp 0.5s forwards;
}

.task.move-up {
    opacity: 1;
    transform: translateY(0);
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }
    100% {
        opacity: 1;
        transform: translateY(0); 
    }
}

.item {
    background-color: lightgray;
    border-radius: 20px;
    width: 90vw;
    padding: 10px;
    margin-bottom: 5px;
}

#task-list ul li {
    list-style: none;
    padding: 10px;
    transition: all 0.3s ease;
}

#task-list ul li:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

#task-list ul {
    list-style-type: none;
    padding: 0;
}

#task-list .task {
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    cursor: pointer;
    transition: all 0.3s ease;
}

#task-list .task.expanded {
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#task-list .task-description {
    margin-top: 10px;
    font-size: 14px;
    color: #555;
}

#task-list .arrow {
    transition: transform 0.3s ease;
}

#task-list .arrow.rotate {
    transform: rotate(180deg);
}

.pagination {
    display: flex;
    flex-direction: row;
    gap: 15px;
    align-items: center;
}

#previous {
    background-color: #f4511e;
    color: white;
    border: none;
    border-radius: 15px;
    width: 90px;
    cursor: pointer;
    padding-left: 17px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: padding-right 0.3s ease-in-out;
}

#previous span {
    transition: transform 0.3s ease;
}

#previous:hover span {
    transform: translateX(-10px);
}

#previous img {
    opacity: 0;
    width: 15px;
    height: 15px;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

#previous:hover img {
    opacity: 1;
    transform: rotate(90deg); 
}

#next {
    background-color: #f4511e;
    color: white;
    border: none;
    border-radius: 15px;
    width: 90px;
    cursor: pointer;
    padding-left: 17px;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: padding-right 0.3s ease-in-out;
}

#next span {
    transition: transform 0.3s ease;
}

#next:hover span {
    transform: translateX(10px);
}

#next img {
    opacity: 0;
    width: 15px;
    height: 15px;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

#next:hover img {
    opacity: 1;
    transform: rotate(-90deg); 
}

#previous img {
    filter: invert(100%);
}

#next img {
    filter: invert(100%);
}